# Local MongoDB
# MONGODB_URI=mongodb://localhost:27017/yaorganize

# MongoDB Atlas (append your database name after the host)
MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/zhenyao-data
